<h1>Here's all the things to do:</h1>

<form action="/" method="post">
  <label>New Todo:
    <input type="text" name="todo_name">
    <input type="submit" value="Create Todo">
  </label>
</form>

<form action="/complete" method="post">
  <p>
  <ol>
    <% @todos.each do |todo| %>
      <li><%= todo.name.capitalize %>
      <input type="submit" value="Complete"></li>
    <% end %>
  </ol>
  </p>
</form>